<!-- <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content></ion-content> -->

<!-- <ion-footer> -->
<!-- <ion-toolbar> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="memos">
      <ion-icon name="reader" aria-hidden="true"></ion-icon>
      <ion-label>All</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favorites">
      <ion-icon name="heart-circle" aria-hidden="true"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- </ion-toolbar> -->
<!-- </ion-footer> -->
<!-- <ion-router-outlet></ion-router-outlet> -->
<!-- </div> -->
